<em>Count</em>: <span class="count">{{items|length}}</span><br/>

{% block data %}
<table>
    <thead>
        {% for field in display_fields %}
        <th>{{field.prompt}}</th>
        {% endfor %}
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        {% for row in item.data %}
        {% if forloop.first %}
        <td><a href="{{item.href}}">{{row.value}}</a></td>
        {% else %}
        <td>{{row.value}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

