{% load hyperadmin_utils %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{STATIC_URL}}hyperadmin/initializr/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" href="{{STATIC_URL}}hyperadmin/initializr/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}hyperadmin/initializr/css/main.css">

    <script src="{{STATIC_URL}}hyperadmin/initializr/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    

  <link rel="stylesheet" href="{{STATIC_URL}}hyperadmin/client-emberjs/css/style.css?v=2">
  
  {% raw %}
  <script type="text/x-handlebars" data-template-name="resource">
    {{view App.BreadcrumbsView}}
    {{view App.QueriesView}}
    
    {{#if App.resourceController.collection.isCrudResource}}
      {{view App.CrudItemsView}}
    {{else}}
      {{#if App.resourceController.collection.isResourceListing}}
        {{view App.ResourceItemsView}}
      {{else}}
        {{view App.ItemsView}}
      {{/if}}
    {{/if}}
    
    <div class="container">
        {{view App.ErrorView}}
        {{view App.TemplateView}}
    </div>
    
  </script>
  
  <script type="text/x-handlebars" data-template-name="breadcrumbs">
    <ul class="breadcrumb">
    {{#each App.resourceController.collection.links.breadcrumbs}}
        <li>{{view App.BreadcrumbView}}</li>
    {{/each}}
    </ul>
  </script>
  
  <script type="text/x-handlebars" data-template-name="queries">
    {{#if App.resourceController.collection.queries.sortby}}
    <div class="sorting">
    <h2>Sort By</h2>
    <div class="btn-group">
    {{#each App.resourceController.collection.queries.sortby}}
      {{view App.ButtonView}}
    {{/each}}
    </div>
    </div>
    {{/if }}
    
    {{#if App.resourceController.collection.queries.filters}}
    <div class="filters">
    <h2>Filter By</h2>
    {{#each App.resourceController.collection.queries.filters}}
      {{#if data}}
        <span>{{prompt}}</span>
        {{view App.FormView}}
      {{else}}
        {{view App.LinkView}}
      {{/if }}
    {{/each}}
    </div>
    {{/if }}
    
    {{#if App.resourceController.collection.queries.pagination}}
    <div class="pagination">
    <ul>
    {{#each App.resourceController.collection.queries.pagination}}
      <li>
      {{#if data}}
        <span>{{prompt}}</span>
        {{view App.FormView}}
      {{else}}
        {{view App.LinkView}}
      {{/if }}
      </li>
    {{/each}}
    </ul>
    </div>
    {{/if}}
  </script>
  
  <script type="text/x-handlebars" data-template-name="error">
    {{#each App.resourceController.collection.error.messages}}
        <div><span>{{name}}</span>{{{message}}}</div>
    {{/each}}
  </script>
  
  <script type="text/x-handlebars" data-template-name="button">
    <button {{action followLink}} {{bindAttr class="css_class :btn"}} {{bindAttr href="emberUrl"}} {{bindAttr rel="rel"}}>{{prompt}}</button>
  </script>
  
  <script type="text/x-handlebars" data-template-name="link">
    <a {{action followLink}} {{bindAttr class="css_class"}} {{bindAttr href="emberUrl"}} {{bindAttr rel="rel"}}>{{prompt}}</a>
  </script>
  
  <script type="text/x-handlebars" data-template-name="form">
    <form {{bindAttr method="method.options.0.value"}} {{bindAttr target="url"}} {{bindAttr rel="rel"}}>
    <div>
    {{#each fields}}
    <label>{{prompt}}</label>
    {{#if isSelect}}
    <select {{bindAttr name="name"}} {{bindAttr class="css_class"}} {{bindAttr multiple="multiple"}}>
        {{#each list.options}}
        <option {{bindAttr value="value"}}>{{prompt}}</option>
        {{/each}}
    </select>
    {{else}}
    <input {{bindAttr type="type"}} {{bindAttr name="name"}} {{bindAttr value="value"}} {{bindAttr class="css_class"}} {{bindAttr checked="isChecked:checked"}}/>
    {{/if}}
    {{/each}}
    <button {{action submitForm}} type="button" class="btn">{{prompt}}</button>
    </div>
    </form>
  </script>
  
  <script type="text/x-handlebars" data-template-name="items">
    {{#each App.resourceController.collection.items}}
        <div {{bindAttr class="css_class :row"}}>
            {{view App.LinkView}}
            {{#if data}}
            <div>
            {{#each data}}
                <em>{{prompt}}</em>:{{value}}<br/>
            {{/each}}
            </div>
            {{/if}}
            
            {{#if links}}
            <div>
            {{#each links}}
                {{view App.LinkView}}
            {{/each}}
            </div>
            {{/if}}
        </div>
    {{/each}}
  </script>
  
  <script type="text/x-handlebars" data-template-name="resourceitems">
    {{#each App.resourceController.collection.items}}
        <table class="table table-striped table-condensed">
        <thead>
            <th>{{view App.LinkView}}</th>
        </thead>
        <tbody>
          {{#each links}}
          <tr>
              <td>{{view App.LinkView}}</td>
          </tr>
          {{/each}}
        </tbody>
        </table>
    {{/each}}
  </script>
  
  <script type="text/x-handlebars" data-template-name="cruditems">
    <table class="table table-striped table-condensed">
        <thead>
        <th>Manage</th>
        {{#each App.resourceController.collection.display_fields}}
        <th>{{prompt}}</th>
        {{/each}}
        </thead>
        <tbody>
    {{#each App.resourceController.collection.items}}
        <tr>
            <td>{{view App.LinkView}}</td>
            {{#each data}}
                <td>{{value}}</td>
            {{/each}}
        </tr>
    {{/each}}
        </tbody>
    </table>
  </script>
  
  <script type="text/x-handlebars" data-template-name="template">
    {{#each App.resourceController.collection.templates}}
      {{view App.FormView}}
    {{/each}}
  </script>
  
  <script type="text/x-handlebars" data-template-name="main" >
    {{outlet}}
  </script>
  {% endraw %}
</head>
<body data-api-endpoint="{{api_endpoint}}">
  {% csrf_token %}
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->
  
  <!-- The missing protocol means that it will match the current protocol, either http or https. If running locally, we use the local jQuery. -->
  <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{STATIC_URL}}hyperadmin/initializr/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
  -->
  <script src="{{STATIC_URL}}hyperadmin/initializr/js/vendor/bootstrap.min.js"></script>
  <script src="{{STATIC_URL}}hyperadmin/initializr/js/main.js"></script>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{STATIC_URL}}/hyperadmin/client-emberjs/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  <script src="{{STATIC_URL}}hyperadmin/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
  <script src="{{STATIC_URL}}hyperadmin/jquery-file-upload/jquery.fileupload.js"></script>
  <script src="{{STATIC_URL}}hyperadmin/jquery-file-upload/jquery.iframe-transport.js"></script>
  <script src="{{STATIC_URL}}hyperadmin/client-emberjs/js/libs/handlebars-1.0.0.beta.6.js"></script>
  <script src="{{STATIC_URL}}hyperadmin/client-emberjs/js/libs/ember-1.0.pre.js"></script>
  <script src="{{STATIC_URL}}hyperadmin/client-emberjs/js/app.js"></script>
</body>
</html>
