{% extends "hyperadmin/base.html" %}

{% block content %}
<h1>{{instance.app_name}} Administration</h1>
<div class="hypermediaresource">
{% block embedded_links %}
{% if embedded_links %}
<h2>Embedded Links</h2>
<div id="embedded_links">
{% include "hyperadmin/includes/links.html" with links=embedded_links %}
</div>
{% endif %}
{% endblock %}

{% block outbound_links %}
{% if outbound_links %}
<h2>Breadcrumbs</h2>
<div id="outbound_links">
{% include "hyperadmin/includes/links.html" with links=outbound_links %}
</div>
{% endif %}
{% endblock %}

{% block errors %}
{% if errors %}
<h2>Errors</2>
<div id="errors" class="errors">
{{errors}}
</div>
{% endif %}
{% endblock errors %}
{% block items %}
<div id="items">
{% include "hyperadmin/includes/resource_items.html" %}
</div>
{% endblock items %}
</div>
{% endblock content %}

