{% extends "hyperadmin/base.html" %}

{% block content %}
<div class="hypermediaresource">

{% block outbound_links %}
{% if outbound_links %}
<h2>Breadcrumbs</h2>
<div id="outbound_links">
{% include "hyperadmin/includes/links.html" with links=outbound_links %}
</div>
{% endif %}
{% endblock %}

{% block templated_queries %}
{% if templated_queries %}
<h2>Templated Queries</h2>
<div id=templated_queries">
{% include "hyperadmin/includes/templated_queries.html" with links=templated_queries %}
</div>
{% endif %}
{% endblock %}

{% block non_idempotent_updates %}
{% if non_idempotent_updates %}
{% if instance %}
<h2>Modify {{instance}}</h2>
{% else %}
<h2>Add</h2>
{% endif %}
<div id="non_idempotent_updates">
{% include "hyperadmin/includes/links.html" with links=non_idempotent_updates %}
</div>
{% endif %}
{% endblock %}

{% block idempotent_updates %}
{% if idempotent_updates %}
<div id="idempotent_updates">
{% include "hyperadmin/includes/links.html" with links=idempotent_updates %}
</div>
{% endif %}
{% endblock %}
</div>

{% for item in items %}
<div class="hypermediaitem item">

{% block item_outbound_links %}
{% if item.outbound_links %}
<div class="outbound_links">
{% include "hyperadmin/includes/links.html" with links=item.outbound_links %}
</div>
{% endif %}
{% endblock %}

{% block item_embedded_links %}
{% if item.embedded_links %}
<div class="embedded_links">
{% include "hyperadmin/includes/links.html" with links=item.embedded_links %}
</div>
{% endif %}
{% endblock %}

</div>
{% endfor %}
{% endblock content %}

